<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617691353642-1doff49v8tu5kkdtfov8mfbuv39hh4cq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617691353642-1doff49v8tu5kkdtfov8mfbuv39hh4cq</string>
	<key>API_KEY</key>
	<string>AIzaSyAi-Tz5bwT99cjh2eADQgPEGKhT3OrJncw</string>
	<key>GCM_SENDER_ID</key>
	<string>617691353642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterProject.mynotes</string>
	<key>PROJECT_ID</key>
	<string>flutter-project-b7b9b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-project-b7b9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617691353642:ios:9662661905b203d5f8a953</string>
</dict>
</plist>